html,
body {
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
}

h1 {
  margin: 8px;
  font-size: 24px;
}

h2 {
  margin: 8px;
}

p {
  font-size: small;
  display: flex;
}

hr {
  margin: 8px 0px;
  background-color: #357abd;
}

ul {
  padding: 8px;
}

li {
  width: calc(100% - 8px);
  list-style: none;
  border: 2px solid #fff;
  margin-bottom: 8px;
  padding: 2px 4px;
}

li:hover {
  font-weight: bold;
  border: 2px solid #3f0f08;
  border-radius: 4px;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

input {
  border-radius: 16px;
  padding: 8px 16px;
  border: 1px solid #357abd;

}

input[type="checkbox"] {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

input[type="checkbox"]+span {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px;
  margin: 0px 4px;
  border-radius: 2px;
  vertical-align: middle;
}

input:checked+span {
  background: url(./assets/junimo.jpg) no-repeat center bottom;
  background-size: cover;
}


label:hover {
  font-weight: bold;
}


/* 전체 컨테이너 */
#modCheckboxes {
  position: relative;
  line-height: 1.6;
  width: 100%;
  max-height: 48vh;
  overscroll-behavior: auto;
  background-color: #fff;
  overflow-y: scroll;
}

/* 상위 모드 버튼 */
#modCheckboxes>button {
  display: inline-block;
  background-color: transparent;
  color: black;
  font-size: medium;
  border: none;
  cursor: pointer;
  margin-bottom: 4px;
}

#modCheckboxes>button:hover {
  font-weight: bold;
}

/* 하위 모드 체크박스 컨테이너 */
#modCheckboxes div {
  margin-top: 4px;
  padding-left: 20px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: auto;
}

#modCheckboxes div::backdrop {
  background-color: #ccc;
}


/* 체크박스 + 텍스트 간 간격 */
#modCheckboxes label {
  margin-right: 12px;
}

/* 부드러운 토글 애니메이션 */
#modCheckboxes div.show {
  display: block;
  max-height: 1000px;
  /* 충분히 큰 값 */
  opacity: 1;
}

#modCheckboxes div.hide {
  display: block;
  max-height: 0;
  opacity: 0;
}

#refreshBtnContainer {
  position: relative;
}

#refreshBtn {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 10;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20px;
  min-height: 20px;
  align-items: flex-start;
  background: #ffd284;
}

.box-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
}

.box-content {
  width: 100%;
  margin: auto;
  padding: 16px;
}

/* Y축 border */
.border-y {
  display: flex;
  width: 100%;
  height: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  border: 2px solid #3f0f08;
  background: #e27a3e;
  flex-shrink: 0;
}

.border-y-container {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 10px;
  padding: 0 16px;
}

.border-y-container :first-child {
  max-width: 40%;
}

.dashed {
  flex-shrink: 1;
  border: 1px dashed var(--color);
  width: 100%;
  height: fit-content;
}

.dashed-x {
  width: fit-content;
}

/* X축 border */
.border-x {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 16px;
  /* height: 100%; */
  flex-shrink: 0;
  border-radius: 2px;
  border: 2px solid #3f0f08;
  background: #e27a3e;
}

.shadow {
  width: 100%;
  height: 6px;
  background: #96473a;
}

.border-x-container {
  position: absolute;
  right: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.border-x-container .dashed:nth-child(1) {
  height: 40%;
}

.border-x-container .dashed:nth-child(2) {
  height: 24%;
}

button {
  display: inline-block;
  min-width: 160px;
  border-radius: 2px;
  border: 2px solid #853605;
  background: linear-gradient(230deg, #f9b24f 19.82%, #df801b 66.9%, #df650e 80.18%);
  font-family: sans-serif;
  cursor: pointer;
  padding: 4px;
}

#presetContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

#presetContainer>input {
  width: 100%;
}

#deletePresetBtn {
  margin-left: auto;
  margin-right: 8px;
}

#buttonContainer {
  margin: 8px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

#buttonContainer button {
  margin: 0 8px;
}

#createPresetBtn {
  margin: 8px;
}

#mainSection {
  margin: 16px 0;
  width: 100%;

}

#mainSection .box-content {
  background-color: #fff;
  min-height: 40vh;
}

#mainSection #buttonContainer button {
  min-width: 80px;
}

#sectionTitle {
  position: sticky;
  top: 0px;
  background-color: #fff;
  padding: 8px;
}

#presetName {
  display: block;
  width: 80%;
  margin: auto;
  font-weight: bold;
}

#counter {
  margin-left: auto;
}